
<style>
    /*canvas
    {
    border: thin solid rgba(0, 0, 0, 0);
    margin: 0px;
    }*/
</style>

<div ng-controller="sectionCheckDocumentController">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Document</div>
        <div class="panel-body">
            <button class="btn btn-primary" ng-click="loadDocument(calculationContext)">
                Load document
            </button>
            <button class="btn btn-primary" ng-click="clearDocument()">
                Clear document
            </button>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <canvas id="canvas" ng-show="showCanvas" preload="auto">
                        Your browser doesn't support the
                        <code>canvas</code> element
                    </canvas>
                </div>
            </div>
        </div>

    </div>
</div>
