
<style>
    canvas
    {
        border: thin solid black;
        margin: 4px;
    }
    #headRow
    {
        background: #28B7EF;
    }
    .selectedTableLine
    {
        background-color: lightcoral;
        font-weight: bold;
    }
    .evenTableLine
    {
        background-color: lightgreen;
    }
    .oddTableLine
    {
        background-color: lightblue;
    }

    .choosable
    {
        cursor: pointer;
    }
    .choice
    {
        border-color: #ccc;
        padding: 1em;
        border-width: 3px;
        border-style: solid;
        border-radius: 10px; 
    }
    .choice.active
    {
        background-color: lightcoral;
        border-color: #1c94c6;
    }
</style>
    
<div ng-controller="checkTableCtrl">
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Available checks</div>
        <div class="panel-body">
            <button class="btn btn-primary" ng-click="loadCalculationData()">
                Load check table
            </button>
            <button class="btn btn-primary" ng-click="clearCalculationData()">
                Clear check table
            </button>
        </div>
        
        <!-- Table -->
        <table class="table table-hover table-bordered">
            <thead>
                <tr id="headRow">
                    <td>
                        #
                    </td>
                    <td>
                        Check name
                    </td>
                    <td>
                        Check value
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items"
                    ng-click="setSelectedRowIndex($index);"
                    ng-class='{selectedTableLine: $index==selectedRowIndex}'>
                    <td>
                        <input type="checkbox" ng-model="item.isOn" aria-label="Select check for calculation">
                    </td>
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        <span class="label label-danger">{{item.checkValue}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
