
<style>
    #headRow
    {
        background: #28B7EF;
    }
    .selectedTableLine
    {
        background-color: lightcoral;
        font-weight: bold;
    }
    .evenTableLine
    {
        background-color: lightgreen;
    }
    .oddTableLine
    {
        background-color: lightblue;
    }
</style>
    
<div ng-controller="sectionCheckCheckTableController">
    <br />
    <div class="panel panel-primary">
        <!-- Default panel contents -->
        <div class="panel-heading">Available checks</div>
        <div class="panel-body">
            <button class="btn btn-primary" ng-click="loadCalculationData()">
                Load check table
            </button>
            <button class="btn btn-primary" ng-click="clearCalculationData()">
                Clear check table
            </button>
        </div>

        <!-- Table -->
        <table class="table table-hover table-bordered">
            <thead>
                <tr id="headRow">
                    <td>
                        #
                    </td>
                    <td>
                        Check name
                    </td>
                    <td>
                        Check value
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in items"
                    ng-click="setSelectedRowIndex($index);"
                    ng-class='{evenTableLine: $odd, oddTableLine: $even, selectedTableLine: $index==selectedRowIndex}'>
                    <td>
                        <input type="checkbox" ng-model="item.isOn" aria-label="Select check for calculation">
                    </td>
                    <td>
                        {{item.name}}
                    </td>
                    <td>
                        <span class="label label-danger">{{item.checkValue}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
